include dm.pug
.grid-33
  .app--section
    ul.app--message--list
      li
        h3 #{!!dms && dms.length > 0 ? 'Conversation with' : ''}
          a  #{dmConvoWith}
        ul.app--message--conversation
          each val in !!dms ? dms : []
            +DirectMessage(val.sender.classToApply, val.sender.img, val.text, val.created)
