mixin Friend(name, user, image)
  li
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary
        a.app--tweet--author
          .app--avatar(style=`background-image: url(${image})`)
            img(src=image)
          h4 #{name}
          p #{user}
      .circle--fluid--cell
        form(action="/", method="POST")
          button.button-primary(type="submit") Unfollow
