include tweet.pug
.grid-33
  .app--section
    ul.app--tweet--list
      each val in !!timeline ? timeline : []
        +Tweet(val.time, val.img, val.scrName, val.userName, val.text, val.retweets, val.likes)
