li
  strong.app--tweet--timestamp 4h
  a.app--tweet--author
    .app--avatar(style='background-image: url(f-spore.png)')
      img(src='f-spore.png')
    h4 Jill Spore
    span  @jillspore
  p It&apos;s time I come clean about a few things: The pretzel is my favorite chip.
  include tweetbtns.pug
