doctype html
html
  head
    meta(charset='utf-8')
    title JS-Project-7
    meta(name='description', content='node/express twitter interface')
    meta(name='author', content='james south')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='global.css')
  body
    include includes/header.pug
    include includes/footer.pug
    .bounds.app--body
      .app--section--header
        .grid-33
          .app--section--heading
            h2 Timeline
        .grid-33
          .app--section--heading
            strong 129
            h2 Following
        .grid-33
          .app--section--heading
            h2 Direct Messages
      include includes/timeline.pug
      include includes/following.pug
      include includes/dms.pug
