doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    include includes/footer.pug
    .bounds.app--body
      .app--section--header
        .grid-33
          .app--section--heading
            h2 #{!!timeline && timeline.length > 0 ? 'Timeline' : 'no tweets returned'}
        .grid-33
          .app--section--heading
            strong #{!!following && following.length > -1 ? numFollowed : ''}
            h2 #{!!following && following.length > -1 ? 'Following' : 'no follows returned'}
        .grid-33
          .app--section--heading
            h2 #{!!dms && dms.length > 0 ? 'Direct Messages' : 'no DMs returned'}
      include includes/timeline.pug
      include includes/following.pug
      include includes/dms.pug
